@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}





/* TOPO DO SITE */

header {
    width: 100%;
    padding: 1vh 0;
    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
    z-index: 3;
}

header .logo p {
    font-weight: bold;
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
}

header .kart {
    padding: 3vh 3vw;
    position: relative;
    display: flex;
    align-items: center;
}

header .kart i {
   font-size: 20px;
   cursor: pointer;
}

header .kart .info {
    position: absolute;
    left: 65%;
    top: 10%;
}

header .kart .info p {
    font-weight: bold;
    font-size: 15px;
}

header .kart #menu-compras {
    display: none;
    position: absolute;
    right: -1%;
    top: 95%;
    height: 400px;
    width: 400px;
    background-color: #f1ecec;
    border-radius: 10px;
    overflow: auto;
}

header .kart #menu-compras.open {
    display: block;
    z-index: 3;
}

header .kart #menu-compras #icones {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid white;
}

header .kart #menu-compras .lista-compras {
    width: 100%;
    height: auto;
    margin-top: 17px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
}

header .kart #menu-compras .lista-compras li {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 2vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
}

header .kart #menu-compras .lista-compras li #box-li {
    float: left;
    /*flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;*/
    /* background-color: red; */
}

header .kart #menu-compras .lista-compras li /*#box-li*/ img {
    width: 80px;
    height: 60px;
    border-radius: 8px 10% 10% 8px;
    border-right: 2px solid black;
}

header .kart #menu-compras .lista-compras li /*#box-li*/ p {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
}

header .kart #menu-compras .lista-compras li #check {
    /*flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;*/
    float: right;
}

.color {
    float: right;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}


.msg-info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding: 4vh 4vw;
    background-color: transparent;
    border-radius: 10px;
    transition: all .5s ease;
}

.msg-info.green {
    opacity: 1;
    background-color: rgb(139, 216, 139);
    transition: all 1s ease;
}

.msg-info.red {
    opacity: 1;
    background-color: rgb(189, 100, 100);
    transition: all 1s ease;
}
























/* CATÁLOGO DE COMPRAS */

main {
    height: auto;
    width: 70vw;
    margin: 19vh auto 13vh auto;
    padding: 0vh 0;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 6vw;
}

#titulo h3 {
    text-shadow: 0 0 1px black;
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

main #box-ul {
    height: 85vh;
    min-width: 55vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}


main #box-ul ul {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    transition: left .5s ease;
}

main #box-ul ul li {
    justify-self: center;
    align-self: center;
    max-width: 35vw;
    height: 300px;
    border: 3.5px solid black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

main #box-ul ul li #options{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.to-right {
    left: 100%;
}

.to-center {
    left: 0;
}

.to-left {
    left: -100%;
}

.from-right {
    transform: translateX(100%);
}

.from-left {
    transform: translateX(-100%);
}

.off-left {
    transform: translateX(-100%);
}

.off-right {
    transform: translateX(100%);
}

.novisible-left {
    transform : translateX(-100%);
}

.novisible-right {
    transform: translateX(100%);
}



main #box-ul ul li span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent, #ff0);
    width: 100%;
    height: 3px;
    animation: animar1 2s linear infinite;
}

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}





main #box-ul ul li span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, #ff0);
    width: 3px;
    height: 100%;
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}






main #box-ul ul li span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, transparent, #ff0);
    width: 100%;
    height: 3px;
    animation: animar3 2s linear infinite;
} 

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}







main #box-ul ul li span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, transparent, #ff0);
    width: 3px;
    height: 100%;
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}







main #box-ul ul li #options img {
    margin: 0 0 0 0;
    width: 100%;
    border-radius: 5px 5px 20% 20%;
    border: 4px solid white;
    height: 60%;
    /*object-fit: contain;*/
}

main #box-ul ul li #options p {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: "Poetsen One", sans-serif;
}

main #box-ul ul li #options button {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    height: 40px;
    width: 80%;
    border-radius: 9px;
    background-color: blue;
    cursor: pointer;
}

main #box-ul ul li #options button * {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

main #box-ul ul li #options button i {
    font-size: 25px;
}

#directions {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-bottom: 5px;
}

#directions button {
    padding: 2.5vh 6vw;
    background-color: #ff0;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid black; 
}

#directions button p {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}


#directions #left.back-gray, #directions #right.back-gray {
    background-color: gray;
    cursor: auto;
}



























/* RODAPÉ DP SITE */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    width: 100vw;
    height: 100px;
    background-color: #ff0;
    padding: 5vh 0;
    border-radius: 10px 10px 0 0;
}
    
footer .imagem img {
    width: 100%;
    height: 50px;
    transform: rotate(180deg);
    position: absolute;
    top: -15px;
    left: 0;
}

footer .rodape ul {
    margin: 3vh 0 0 0;
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

footer .rodape ul li a{
    text-decoration: none;
}

footer .rodape ul li a i {
    font-size: 40px;
    color: black;
}
























@media (max-width: 480px) {

    header .kart .info {
        left: 85%;
        top: 8%;
    }

    header .kart #menu-compras {
        height: 265px;
        width: 215px;
    }

    header .kart #menu-compras .lista-compras {
        gap: 1.5vh;
    }

    header .kart #menu-compras .lista-compras li {
        width: 95%;
        height: 50px;
    }

    header .kart #menu-compras .lista-compras li p {
        font-size: 10px;
    }

    header .kart #menu-compras .lista-compras li img {
        height: 45px;
    }

    #check *, input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }

    main {
        margin-top: 14vh;
        width: 90vw;
        gap: 3.5vh;
    }

    #titulo h3 {
        font-size: 18px;
        margin-top: 15px;
    }

    main #box-ul {
        height: 54vh;
        width: 92vw;
    }

    main #box-ul ul {
        gap: 4px;
    }

    main #box-ul ul li {
        width: 40vw;
        height: 160px;
    }

    main #box-ul ul li #options img {
        height: 50%;
    }

    main #box-ul ul li #options p {
        font-size: 10px;
    }

    main #box-ul ul li #options button {
        width: 90%;
        height: 28.5px;
        justify-content: center;
        gap: 2.5vw;
        margin-bottom: .5vh;
    }

    main #box-ul ul li #options button p {
        font-size: 7.5px;
    }

    main #box-ul ul li #options button i {
        font-size: 15px;
        margin-left: 2vw;
    }

    #directions {
        transform: translateY(-15%);
        margin: 4px 0;
    }

    footer .rodape ul li a i {
        font-size: 30px;
    }

}




@media (min-width: 481px) and (max-width: 768px) {

    header .kart i {
        font-size: 23.5px;
    }

    header .kart .info {
        left: 80%;
        top: 8%;
    }

    header .kart .info p {
        font-size: 21.5px;
    }

    header .kart #menu-compras {
        height: 295px;
        width: 275px;
    }

    header .kart #menu-compras .lista-compras {
        gap: 1.5vh;
    }

    header .kart #menu-compras .lista-compras li {
        width: 95%;
        height: 50px;
    }

    header .kart #menu-compras .lista-compras li p {
        font-size: 19px;
    }

    header .kart #menu-compras .lista-compras li img {
        height: 45px;
    }

    .color, input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }

    main {
        width: 90vw;
        gap: 5vh;
        margin-top: 16.5vh;
    }

    #titulo h3 {
        margin-top: 5px;
        font-size: 22px;
    }

    main #box-ul {
        height: 45vh;
        width: 85vw;
    }

    main #box-ul ul {
        gap: 15px;
    }

    main #box-ul ul li {
        width: 90%;
        height: 200px;
    }

    main #box-ul ul li #options img {
        height: 43%;
    }

    main #box-ul ul li #options p {
        font-size: 1.2em;
    }

    main #box-ul ul li #options button {
        width: 90%;
        height: 28.5px;
        justify-content: center;
        gap: 2.5vw;
        margin-bottom: .5vh;
    }

    main #box-ul ul li #options button p {
        font-size: 11px;
    }

    main #box-ul ul li #options button i {
        font-size: 15px;
        margin-left: 2vw;
    }

    #directions {
        margin-bottom: 5px;
    }

    footer .rodape ul li a i {
        font-size: 30px;
    }

}





@media (min-width: 769px) and (max-width: 1024px) {

    header .kart i {
        font-size: 25px;
    }

    header .kart .info {
        left: 75%;
        top: 5%;
    }

    
    header .kart .info p {
        font-size: 21.5px;
    }

    header .kart #menu-compras {
        height: 295px;
        width: 275px;
    }

    header .kart #menu-compras .lista-compras {
        gap: 1.5vh;
    }

    header .kart #menu-compras .lista-compras li {
        width: 95%;
        height: 65px;
    }

    header .kart #menu-compras .lista-compras li #box-li p {
        font-size: 12px;
    }

    #check *, input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }

    main {
        width: 75vw;
        gap: 2.5vh;
        margin-top: 16.5vh;
    }

    #titulo h3 {
        font-size: 28.5px;
    }

    main #box-ul {
        height: 65vh;
    }

    main #box-ul ul {
        gap: 15px;
    }

    main #box-ul ul li {
        max-width: 37.5vw;
        height: 182px;
    }

    main #box-ul ul li #options img {
        height: 43%;
    }

    main #box-ul ul li #options p {
        font-size: 13px;
    }

    main #box-ul ul li #options button {
        width: 90%;
        height: 28.5px;
        justify-content: center;
        gap: 2.5vw;
        margin-bottom: 5px;
    }

    main #box-ul ul li #options button p {
        font-size: 8px;
        margin-right: 2vw;
    }

    main #box-ul ul li #options button i {
        font-size: 15px;
        margin-left: 2vw;
    }

    #directions {
        margin-bottom: 2vh;
    }

    footer .rodape ul li a i {
        font-size: 30px;
    }

}




@media (min-width: 1025px) {

    header .logo p {
        font-size: 2em;
    }

    header .kart i {
        font-size: 1.5em;
    }

    header .kart .info {
        left: 65%;
        top: 12%;
    }

    header .kart .info p {
        font-size: 1.5em;
    }

    header .kart #menu-compras .lista-compras {
        gap: 1.5vh;
    }

    header .kart #menu-compras .lista-compras li {
        width: 95%;
        height: 65px;
    }

    header .kart #menu-compras .lista-compras li #box-li p {
        font-size: 12px;
    }

    #check *, input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }

    main {
        width: 60vw;
        gap: 2vh;
        margin-top: 16.5vh;
    }

    #titulo h3 {
        font-size: 2em;
        margin-top: 4vh;
    }

    main #box-ul {
        height: 65vh;
    }

    main #box-ul ul li {
        width: 80%;
        min-height: 225px;
    } 

    main #box-ul ul li #options img {
        height: 50%;
    }

    main #box-ul ul li #options p {
        font-size: 1.3em;
    }

    main #box-ul ul li #options button {
        width: 72%;
        height: 34px;
        justify-content: center;
        gap: 2.5vw;
        margin-bottom: 2vh;
    }

    main #box-ul ul li #options button p {
        margin-right: 2vw;
        font-size: 19px;
    }

    main #box-ul ul li #options button i {
        font-size: 27px;
        margin-left: 2vw;
    }

    #directions {
        margin-bottom: 4vh;
    }

    #directions button p {
        font-size: 2em;
    }

    footer .rodape ul li a i {
        font-size: 40px;
    }

}
